In [1]:
import pandas as pd

In [2]:
# Save path to data set in a variable
budget_data = "Resources/budget_data.csv"

In [3]:
# Use Pandas to read data
budget_data = pd.read_csv(budget_data)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
total_months=budget_data["Date"].count()
total_months

86

In [15]:
total_amt=budget_data["Profit/Losses"].sum()
total_amt

38382578

In [51]:
budget_data["prev_amt"] = budget_data["Profit/Losses"].shift(1)
budget_data["average_change"]= budget_data["Profit/Losses"] - budget_data["prev_amt"]
#budget_data["average_change"] = budget_data["average_change"].abs()

In [53]:
budget_data.sort_values("Profit/Losses",ascending=False)

        Date  Profit/Losses   prev_amt  average_change
25  Feb-2012        1170593  -755566.0       1926159.0
56  Sep-2014        1166643   800701.0        365942.0
27  Apr-2012        1151518   252788.0        898730.0
47  Dec-2013        1150461  -687986.0       1838447.0
60  Jan-2015        1139715   988505.0        151210.0
6   Jul-2010        1033096   522857.0        510239.0
61  Feb-2015        1029471  1139715.0       -110244.0
43  Aug-2013         999942   789480.0        210462.0
70  Nov-2015         989499   332067.0        657432.0
59  Dec-2014         988505   578668.0        409837.0
1   Feb-2010         984655   867884.0        116771.0
57  Oct-2014         947333  1166643.0       -219310.0
20  Sep-2011         899906   668179.0        231727.0
10  Nov-2010         893810   477532.0        416278.0
41  Jun-2013         872480   565603.0        306877.0
0   Jan-2010         867884        NaN             NaN
67  Aug-2015         840723   423389.0        417334.0
21  Oct-2011         834719   899906.0        -65187.0
50  Mar-2014         824098   617856.0        206242.0
28  May-2012         817256  1151518.0       -334262.0
55  Aug-2014         800701   689161.0        111540.0
82  Nov-2016         795914   102685.0        693229.0
15  Apr-2011         793163   697845.0         95318.0
42  Jul-2013         789480   872480.0        -83000.0
33  Oct-2012         779976   475062.0        304914.0
12  Jan-2011         779806   -80353.0        860159.0
71  Dec-2015         778237   989499.0       -211262.0
80  Sep-2016         768450   569899.0        198551.0
75  Apr-2016         757143  -174946.0        932089.0
77  Jun-2016         712961   445709.0        267252.0
..       ...            ...        ...             ...
36  Jan-2013         359333   542494.0       -183161.0
69  Oct-2015         332067   568529.0       -236462.0
2   Mar-2010         322013   984655.0       -662642.0
37  Feb-2013         321469   359333.0        -37864.0
4   May-2010         310503   -69417.0        379920.0
23  Dec-2011         309978   132003.0        177975.0
45  Oct-2013         268997 -1196225.0       1465222.0
26  Mar-2012         252788  1170593.0       -917805.0
64  May-2015         158620  -524626.0        683246.0
34  Nov-2012         144175   779976.0       -635801.0
84  Jan-2017         138230    60988.0         77242.0
52  May-2014         132864   581943.0       -449079.0
22  Nov-2011         132003   834719.0       -702716.0
81  Oct-2016         102685   768450.0       -665765.0
65  Jun-2015          87795   158620.0        -70825.0
38  Mar-2013          67780   321469.0       -253689.0
18  Jul-2011          62729   584122.0       -521393.0
83  Dec-2016          60988   795914.0       -734926.0
3   Apr-2010         -69417   322013.0       -391430.0
11  Dec-2010         -80353   893810.0       -974163.0
74  Mar-2016        -174946 -1100387.0        925441.0
8   Sep-2010        -216386   604885.0       -821271.0
13  Feb-2011        -335203   779806.0      -1115009.0
63  Apr-2015        -524626   687533.0      -1212159.0
46  Nov-2013        -687986   268997.0       -956983.0
24  Jan-2012        -755566   309978.0      -1065544.0
31  Aug-2012       -1022534   506702.0      -1529236.0
73  Feb-2016       -1100387   650000.0      -1750387.0
78  Jul-2016       -1163797   712961.0      -1876758.0
44  Sep-2013       -1196225   999942.0      -2196167.0

[86 rows x 4 columns]

In [30]:
greatest_increase=budget_data["average_change"].max()
greatest_increase

1926159.0

In [28]:
greatest_decrease = budget_data ["average_change"].min()
greatest_decrease

-2196167.0